


:root {
  --light_green: #A0B369;
  --dark_green: #677344;
  --tan: #F5E4B8;
  --brown: #8f694b;
  --teal: #788f7e;
  --black: #28282B;
}

.skip {
  left: 0%;
  position: absolute;
  transform: translateY(-500%);
  background: rgb(255, 255, 0);
  transition: 0.3s;
  width: 50%;
}

.skip:focus {
transform: translateY(0%);
}



.logo {
  width: 50px;
}

footer {
  background: var(--dark_green);
  background-image: url(../images/foot.png);
  padding: 5%;
  color: var(--tan);
}

h2 {
  font-family: "quiche-flare", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25pt;
  color: var(--dark_green);
}

.title {
  font-family: "quiche-flare", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: var(--tan);
  font-size: 30pt;
  padding: 15pt;
}

a {
  font-family: "anisette-petite", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "anisette-petite", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18pt;
}

h3 {
  font-family: "anisette-std", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-family: "anisette-std-petite-2", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20pt;
}

header {
  display: flex;
  flex-direction: column;
  background-color: var(--dark_green);
}

main {
  background-color: var(--tan);
}

.myLinks {
  display: none;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--tan);
  margin: 5px 0;
  /* transition: 0.4s; */
}

.mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #A0B369;
}

.mobile-menu.show {
  display: flex;
}

.mobile-menu li {
  margin: 10px 0;
  text-align: center;
}

.mobile-menu a {
  color: #ddd;
  display: block;
  padding: 14pt 16pt;
  text-decoration: none;
}

.mobile-menu a:hover {
  background-color: #F5E4B8;
  color: #28282B;
}

.mobile-menu-icon {
  margin-left: 10pt;
  margin-top: 10pt;
}

.mobile-menu-icon .title {
  display: flex;
  flex-direction: row;
}

button {
  background-color: var(--light_green);
  font-family: "anisette-petite", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18pt;
  color: var(--black);
  border: solid var(--black) 1pt;
}

.selected {
  background-color: var(--dark_green);
  color: var(--tan);
}
/* button:focus {
  background-color: var(--dark_green);
} */


.slideshow-container {
  display: none
}

.recipe {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.profile, #profile, .history, .gmahistory {
  display: none;
}

#mobile {
  border: solid var(--dark_green) 15pt;
}

#baker_note {
  display: grid;
  padding: 5%;
}

@media screen and (min-width: 950px) {

  .mobile-menu {
    display: none;
  }

  .topnav .myLinks{
    background: var(--tan);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .dropbtn {
    background-color: var(--light_green);
    color: var(--black);
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: "anisette-petite", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 20pt;
  }

  /* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: var(--dark_green);
}


  /* .dropbtn {
    background-color: var(--light_green);
    color: var(--black);
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: "anisette-petite", sans-serif;
    font-weight: 400;
    font-style: normal;
  } */
  
  
  /* The container <div> - needed to position the dropdown content */
  /* .dropdown {
    position: relative;
    display: inline-block;
  } */
  
  /* Dropdown Content (Hidden by Default) */
  /* .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  } */
  
  /* Links inside the dropdown */
  /* .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  } */
  
  /* Change color of dropdown links on hover */
  /* .dropdown-content a:hover {
    background-color: #ddd;
  } */
  
  /* Show the dropdown menu on hover */
  /* .dropdown:hover .dropdown-content {
    display: block;
  } */
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn {
    background-color: var(--dark_green);
  } */
  .mobile-menu {
    display: none;
  }

  .bar {
    display: none;
  }
  .ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .topnav {
    background: var(--tan);
s
  }

#baker_note {
  display: none;
}
.title {
   padding: 20pt;
   font-size: 50pt;
 }


.recipe {
  display: grid;
  justify-content: center;
  grid-template-columns: 30% 60%;
}

/* .profile {
  display: block;
  grid-template-columns: 30% 60%;
  column-gap: 15pt;
  padding: 15pt;
}

.profile p {
display: flex;
flex-direction: column;
}

.profile img {
  border: solid var(--dark_green) 15pt;
  margin: 50%;
  grid-area: 1 / 1/ 2/ 1;
  margin-top: auto;
} */

.profile {
  display: grid;
  grid-template-columns: 30% 60%;
  column-gap: 15pt;
  padding: 15pt;
}

#face {
  border: solid var(--dark_green) 15pt;
  /* grid-row: 2; */
}

.profile p:last-child{
  grid-column: span 2;
  align-self: left;
}


#note {
  grid-column: span 2;
}

#intro {
  align-self: center;
}

.history {
  display: grid;
  grid-template-columns: 35% 55%;
  column-gap: 5pt;
  justify-content: center;
  padding: 10pt 0pt;
  /* padding-top: 10pt; */
}

.story {
  align-self: center;
}

.gmahistory {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 5pt;
  justify-content: center;
  padding: 10pt 0pt;
}

.gmahistory p {
  align-self: center;
}

#first, #third {
  grid-column: 2/span 2;
  padding-left: 10pt;
}

#second {
  grid-column: 1/ span 2;
  padding-left: 30pt;
}
#gma_gpa, #rose, #stu_bday {
  width: 250pt;
  align-self: center;
  justify-self: center;
  border: solid var(--dark_green) 15pt;
}

.ingredients p:last-child {
  margin-bottom: 10pt;
}

.history p {
  margin: 10pt;
}

#nana, #cookie-closeup {
  border: solid var(--dark_green) 15pt;
  align-self: center;
  width: 300pt;
}



.directions p {
  margin: 10pt;
}

.slideshow-container img {
  height: 50vh;
}



.slideshow-container {
  display: inline-block;
  max-width: 1000px;
  position: relative;
  margin: auto;
}



/* Next & previous buttons */
.prev, .next {
  display: flex;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: var(--black);
  font-family: "anisette-petite", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--light_green);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 18px;
  width: 25%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--black);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dots {
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.active, .dot:hover {
  background-color: #717171;
}

  /* Fading animation */
  /* .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  } */

  /* @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  } */

/* Dropdown Button */


}